@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://rsms.me/inter/inter.css');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    /* background-color: #FFFFFF; Light-gray background */
}

h1, h2, h3, h4, h5, h6 {
    font-family: Inter, sans-serif;
    /* font-weight: normal !important; Make headings not bold */
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    font-weight: medium;
}

/*a {*/
/*    color: inherit !important; !* Inherit color from parent *!*/
/*}*/

.section {
    padding: 2rem 0;
}

.divider {
    border-bottom: 1px solid #eaeaea;
    margin: 2rem 0;
}

.btn-primary {
    background-color: #000;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

